@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  padding: 0 100px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #01ca08cb;
  position: fixed;
  z-index: 1;
}

nav a:visited,
nav a:link {
  color: white;
  text-decoration: none;
}
/* nav .navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
} */

.navbar li {
  display: inline-block;
  list-style: none;
}
.navbar > li:not(:last-child) {
  margin-right: 20px;
}

#heroImg {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('./Images/market-601580_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  /* left: -42%; */
  height: 75px;
  width: 100%;
  margin: 3px;
}

main {
  margin: 20px 102px;
  /* padding: 24px; */
  /* margin-top: 120px; */
  line-height: 1.5;
  color:#333;
}

p{
    font-size: 20px;
    text-align: justify;
}

.subHeading {
color: #333;
font-size: 40px;
text-align: center;
letter-spacing: 0.5px;
margin-top: 40px;
font-weight: 250;
}

.subHeading::after {
    content: "";
    display: block;
   	border-bottom: 3px solid #228b22;
	width: 10%;
	margin: 0 auto 10px auto;
    }

#why_farm2t {
        display: flex;
        margin-top: 50px;
       
    }
        
#about {
        margin-right: 150px;
    }

#why_farm2t img {
        width: 350px;
        height: 350px;
        object-fit: cover;

    }
    
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container .card {
    padding: 20px 0px;
}

/* .container .card:hover {
  height: 270px;
} */

.card .imgBx {
  position: relative;
  width: 300px;
  height: auto;
  object-fit: cover;
  /* top: -60px; */
  /* left: 20px; */
  z-index: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
 } 

.container .card .imgBx img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container .card .content {
  position: relative;
  width: 300px;
  margin-top: -140px;
  padding: 20px 15px;
  text-align: center;
  color: #228b22;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-delay: 0.3s;
}

.join p{
  text-align: center;
}

.regForm {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  text-align: center;
  padding: 25px;
  max-width: 400px;
  /* height: 600px; */
  color: rgb(17, 17, 17);
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.regForm .text {
  margin-top: 20px;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 20px;
}

.regForm input {
  height: 20px;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
}

.regForm .radio {
  margin-top: 3px;
  color: #228b22;
}

.regForm .option {
  display: inline-block;
  margin-top: 10px;
}

.btn {
  background-color: #228b22;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  padding: 10px 40px;
}

footer {
  background-color: #228b22;
  color: #fff;
  margin-top: 50px;
  padding: 20px 24px;
}

footer .footer-text {
  font-size: 14px;
  line-height: 1.5;
}
footer a:visited,
footer a:link {
  color: white;
  text-decoration: none;
}

